/* .hide{
    display: none !important;
} */


/* google fonts */
.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav ul{
     display: flex;
     align-items: center;
     gap: 20px;
     list-style: none;

}
nav ul a{
    text-decoration: none;
}
/* .banner-container */
.banner-container {
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.banner-h1{
    font-size: 65px;
    font-weight: bold;
}
.banner-h1 span{
    color:#E95A08 ;

}
/* Plants section */
.Plants{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 90px;
}
.Plants-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.deals-title{
 text-align: center;
}
.Plants-item>button{
    width: 100%;
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px;
}
.plants-title h1{
    text-align: center;
}
.plants-title p{
    text-align: center;
    
}
.plants-title h1 span{
    color: #E95A08;
}
/* Lover-container */ 
.Lover{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
}
.lover-position img{
    width: 286px;
}
.lover-position{
    position: absolute;
    top: -150px;
    left: 370px;
}

.Lover-container{
    display: flex;
    gap: 60px;
    margin: 0 auto;
}
.Lover-item>h1{
    font-size: 50px;
    font-weight: bold;

}
.Lover-item ul li{
    margin-bottom: 20px;
    font-size: 22px;
}
/* LatestDeals*/
 .LatestDeals{
    max-width: 1140px;
    margin: 0 auto;
    
}
.deals-title{
    margin: 90px auto 100px;
    width: 620px;

}
.deals-title h1{
    text-align: center;
}
.latest{
    color: #E95A08;
}
.LatestDeals-container{
    width: 100%;
    height: 323px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px; 
}
#item-1{
    grid-column: span 2;
    border-radius: 20px;
}
#item-1>a{
    /* margin-left: 100px; */
    color: white;
}
#item{
    grid-column: span 3;
    grid-row: span 2;
    border-radius: 20px;
}
#item>a{
    text-align: center;
    color: white;
    margin-left: 180px;
    
}
#item>h1{
    margin-left: 130px;
}

#item-3{
    grid-column: span 2;
    border-radius: 20px;
}
#item-3>a{
    margin-left: 100px;
    color: white;
}
#item-3>h1{
    margin-left: 50px;
}

.LatestDeals-tiem-1{
    background-image: url("./assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;

}
.LatestDeals-tiem-2{
    background-image: url("./assets/deal-zabo.png");
    background-repeat: no-repeat;
    color: white;
     background-size: 100%;
    
}
.LatestDeals-tiem-3{
    background-image: url("./assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    
    
    
} 
/* colorful Bunch */
.colorful-Bunch{
    background-image: url("./assets/news-letter-bg.png");
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto; 
    height: 533px;
    
    
}
.colorful-Bunch>h1{
    text-align: center;
    padding-top: 265px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.colorful-Bunch>form{
    text-align: center;
    width: 830px;
    height: 50px; 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 290px;
   
}
#email{
    grid-column: span 3;
    padding-left: 30px;
    
}
#sub{
    border: none;
    background-color: #E95A08;
    color: white;
    text-align: center;
}
/* footer-container */
.footer-container{
    max-width: 1140px;
    height:auto;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    
}
.containt{
    width: 359px;
    color: gray;
    
}
.list{

    display: flex;
    /* gap: 80px; */
    
}
.list ul li{
    list-style: none;
    margin-bottom: 30px;
    color: gray;
}
.icon{
    margin-left: 100px
}
.icon img{
    margin-right: 20px;
}

 /* media quari */
 @media screen and (max-width:768px)
  {
    header > nav{
        gap: 200px;
    }
    nav{
        width:361px ;
        margin: 0;
    }
    .nav-list{
        display: none;
    }
    .banner-container{
        width: 395px;
        flex-direction: column-reverse;
        
    }
    .Plants-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;
        /* width: 171px; */
    }
    .Plants-item img{
        width:171px ;
        height: 196px;
    }
    .Plants-item button{
        width: 171px;
        
    }
    .Lover{
        width: auto;
        overflow-x: hidden;
    }
    .Lover-container{
        flex-direction: column;
        
        gap: 0;
        
    }
    .Lover-item img{
        width:358px ;
        height: 396px;
    }
    .Lover-item h1{
        margin-top: 100px;
        font-size: 24px;
    }
    .Lover-item ul{
        font-size: 14px;
    }
    .Lover-container{
        width: 350px;
    }
    .lover-position{
        visibility: hidden;
    }
    /* LatestDeals-container */
    .LatestDeals-container{
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        gap: 50pxpx;
        margin-bottom: 400px;
    }
    .deals-title h1{
         font-size: 24px;
    }
    .deals-title{
        width: 350px;
    }
    .deals-title p{
        font-size: 14px;
    }
    /* .LatestDeals-tiem-1{
        border-radius: 800px;
    } */
    
    #item-1, #item, #item-3{
        width: 366px;
        height: 200px;
        
        
        
        
    }
    /* .colorful-Bunch */
    .colorful-Bunch{
        /* margin: 0 auto; */
        /* max-width: 393px; */
        height: 275px;
        background-position: center;
        background-size: cover;
    }
    .colorful-Bunch>form{
        width: 321px;
        height: 50px;
        
    }
    .colorful-Bunch>h1{
        width: 235px;
        font-weight: bold;
        font-size: 20px;
        margin-left: 130px;
        padding-top: 100px;
    }
    .colorful-Bunch>form{
        margin-left: 80px;
    }
/* footer-container */
.footer-container{
    max-width: 393px;
    height: 885px;
    margin: 0;
    margin-top: 0;
    padding: 0;
    flex-direction: column;
}
.list{
    flex-direction: column;
}
.containt{
    padding-left:40px ;
}
.containt{
    width:359px;
    height:173px;
    
}
.containt img{
    width: 180px;
    height: 109px;
}
.icon{
    margin-left: 30px;
}



 }